{% extends 'fourth_umpire/base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <form class="md-form" action="{% url 'simple_upload' %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}
        <div class="file-field">
            <input type="file" name="myfile" class="btn btn-primary btn-sm float-left">
            <button type="submit" class="btn btn-warning btn-sm btn-pad">Upload</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="add_buttons">
        <div class="button-group">
          <a href="{% url 'display_dataset' %}" class="btn btn-primary btn-md btn-trim" role="button"> View DataSet</a>
          <a href="{% url 'add_dataset' %}" class="btn btn-warning btn-sm btn-pad" role="button"> Add Record</a>
          <a href="{% url 'prematch' %}" class="btn btn-primary btn-md btn-trim" role="button"> Process Data</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container">

    <h4>Currently Viewing {{ header }}</h4>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Escuela</th>
        <th>Sexo</th>
        <th>Edad</th>
        <th>Direccion</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      {% for item in items %}

      <tr>
        <td>{{ item.pk }}
        <td>{{ item.escuela}}</td>
        <td>{{ item.sexo }} $</td>
        <td>{{ item.edad }}</td>
        <td>{{ item.direccion }}</td>

        <td>
            <a href="{% url 'edit_dataset' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_dataset' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
        </td>

      </tr>

      {% endfor %}
    </tbody>
  </table>

{% endblock %}
