<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load bootstrap %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Predictor</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="4th Umpire Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
	<div class="banner-1 jarallax" id="home">
		<header>
			<div class="container">
				<div class="header-bottom-agileits">
					<div class="w3-logo">
					</div>
					<div class="address">
					</div>
					<div class="nav-contact-w3ls">
						<p>+593-988511884<span class="fa fa-phone" aria-hidden="true"></span></p>
						<p class="para-y"><a href="mailto:info@eonidi.com">info@eonidi.com</a><span class="fa fa-envelope-o" aria-hidden="true"></span></p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</header>
	</div>
	<!-- //banner -->
	<!-- about -->
<div class="about">
	<div class="container">
	<div class="wthree_head_section">
				<h3 class="w3l_header">Bienvenido</h3>
		</div>
		{% if winner %}
		<h2 class="text-center">Carrera : {{winner}}
			<br>
			Exactitud de predicción = {{probab}}%</h2>
			<div id="container"></div>

  </div>
		{% endif %}

		<div class="container">
            <div style="padding: 0 0px;">
                    <form action="" method="post" enctype="multipart/form-data" style="display: inline">
											  {% csrf_token %}
                        <div>
                            {{form3|bootstrap}}
                        </div>
                        <input class="btn btn-success btn-block" type="submit" value="Predecir" />
												<br></br>
												{% if winner %}
												<script src="https://code.highcharts.com/highcharts.src.js"></script>
												<div id="chart_sexo"></div>
												<div id="chart_edad"></div>
												<div id="chart_procedencia"></div>
												<div id="chart_tam_familia"></div>
												<script type="text/javascript">
  												new Highcharts.Chart('chart_sexo',{{chart_sexo|safe}});
													new Highcharts.Chart('chart_edad',{{chart_edad|safe}});
													new Highcharts.Chart('chart_procedencia',{{chart_procedencia|safe}});
													new Highcharts.Chart('chart_tam_familia',{{chart_tam_familia|safe}});
											  </script>
												<br>
												<!--<div id="hola">{{tabla}}</div>-->
												<a href="{% url 'reporte_personas_pdf' %}" class="btn btn-success btn-block" role="button"> Generar Reporte PDF</a>

												{% endif %}
                    </form>
										<!--Importante generar reporte con el boton inferior-->


                </div>
		</div>
	</div>
	<!-- Modal1 -->
	<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">

				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->

	<!-- footer -->
	<div class="footer">
	<div class="container">
		<div class="f-bg-w3l">
			<div class="col-md-4 w3layouts_footer_grid">
						<h2>Contact <span>Information</span></h2>
						    <ul class="con_inner_text">
								<li><span class="fa fa-map-marker" aria-hidden="true"></span>Yanahurco y Rio Upano <label> Cuenca, Ecuador</label></li>
								<li><span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:info@eonidi.com">info@eonidi.com</a></li>
								<li><span class="fa fa-phone" aria-hidden="true"></span> +593 988511884</li>
							  </ul>
						<ul class="social_agileinfo">
							<li><a href="https://www.facebook.com/eonecuador/" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
						</ul>
			</div>
			<p class="copyright">© 2019 EÓN CORP. All Rights Reserved </p>
		</div>
	</div>
	</div>
	<!-- //footer -->

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //smooth scrolling -->
	<script type='text/javascript' src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<!-- start-smoth-scrolling -->
	<script src="{% static 'js/jarallax.js' %}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<!-- //Owl-Carousel-JavaScript -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->


	<!--js for bootstrap working-->
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<!-- //for bootstrap working -->


</body>
</html>
