
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Retención UPS</title>
    <meta charset="UTF-8">
    <meta name="title" content="Retención UPS">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
    <form>
      <div class="form-group row">
        <label for="car-id" class="col-sm-2 col-form-label">Carrera<label>
        <div class="col-sm-10">
        <select class="form-control" id="car-id">
        {% for prof in profe %}
        <option value="{{prof.prof_text}}">{{prof.prof_text}}</option>
        {% endfor %}
        </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="the-id" class="col-sm-2 col-form-label"> ciclo<label>
        <div class="col-sm-10">
        <select id="the-id">
        {% for var in ciclo %}
        <option value="{{var.ciclo_text}}">{{var.ciclo_text}}</option>
        {% endfor %}
        </select>
        </div>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="checkbox_1" id="rep_id" type="checkbox" >
        <label class="form-check-label" for="rep_id">Repetición<label>
      </div>
      <div class="custom-file">
        <label for="File1" class="custom-file-label">Seleccione el archivo </label>
        <input type="file" class="custom-file-input" id="File1">
      </div>

</form>
</body>
</html>
